body {
    color: white;
    font-size: 16px;
}

.hero {

    background-color: black;

    margin: auto;
}

.left {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/pexels-pixabay-33045.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;


}

h1 {
    font-size: 72px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 1.6;
}

.find-location {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 20px 25px;
    padding-right: 160px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    background: white;
    color: black;
    outline: none;
    transition: all 0.3s ease;
}

.find-location input[type="text"] {

    color: black;
}

.search-button {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 18px 45px 18px 45px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 0 12px 12px 0;
    background: black;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

.search-button:hover {
    background: black;
    transform: scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


/* right */

.animal-card {
    color: black;
    margin: auto;
    background-color: rgb(228, 228, 228);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-header {
    text-align: left;
    margin-top: 20px;
    padding-left: 55px;
}

.scientific_name {
    font-style: italic;
    color: gray;
    margin-top: -5px;
}

.card-body {
    margin-bottom: 20px;
    padding-left: 55px;
}

.info-item {
    background-color: rgb(197, 195, 195);
    padding: 25px 0px 25px 25px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.icon-color {
    color: rgb(120, 56, 56);
}

.info-label {
    text-transform: uppercase;
    margin-bottom: 5px;
    color: gray;
    font-weight: 700;
}

.info-value {
    font-size: 18px;
    font-weight: 500;
}

.info-item:hover{
    transform: translateY(2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* loading */

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: black;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 